# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
output/config.json
output/TestRun_in_github_com_xpwu_go_cmd_cmd
output/config.json.default
output/TestRun_in_cmd_test_go
